@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$main-font-stack: "Crimson Text", serif;
$body-font-stack: "Roboto", sans-serif;
$code-font-stack: "Courier New", Courier, monospace;

$primary-color: #2e2e2e;
$secondary-color: #c0c0c0;
$base-color: #808080;

$mobile-min-width: 320px;
$mobile-max-width: 800px;

* {
  box-sizing: border-box;
  font-family: $main-font-stack;
  font-weight: 400;
  color: $primary-color;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
}

.container {
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & > .content {
    flex: 1 0 auto;
  }
}
