// Typography
$heading-font: 'Crimson Text', 'Times', serif;
$body-font: 'Roboto', 'Helvetica', sans-serif;
$code-font: 'Courier New', Courier, monospace;

// Sizes
$mobile-h1-size: 32px;
$mobile-h2-size: 24px;
$mobile-h3-size: 16px;
$mobile-body-size: 16px;

$desktop-h1-size: 64px;
$desktop-h2-size: 48px;
$desktop-h3-size: 32px;
$desktop-body-size: 24px;

//
h1,
h2,
h3 {
  font-family: $heading-font;
  font-weight: 300;
}
