@import '_base';

.blog-post {
  h1 {
    font-size: 4rem;
    margin-left: 80px;
    margin-top: 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
    margin-left: 60px;
  }

  p,
  li {
    font-family: $body-font-stack;
    font-weight: 300;
    line-height: 120%;
    max-width: 620px;
    margin-left: 80px;
  }

  p,
  ul {
    margin-bottom: 1rem /*!important*/;
  }

  .code {
    &,
    &-error {
      font-family: $code-font-stack;
      // font-size: 1rem;
      background-color: #f0f0f0;
      padding: 0.2rem;
      border-radius: 0.3rem;
    }
  }

  a {
    font-family: $body-font-stack;
    margin-bottom: -0.5rem;
    &:hover {
      // border-bottom: 0.5rem solid $secondary-color;
      margin-bottom: -0.5rem;
      &::after {
        border: 0.5rem solid $secondary-color;
      }
    }
  }

  p.emoji-separator {
    // line-height: initial;
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: $mobile-max-width) {
  .blog-post {
    p {
      font-size: 125%;
      line-height: 150%;

      &.email-separator {
        font-size: 150%;
      }
    }
  }
}
