@import "_base";

.blog-post {
  h1 {
    font-size: 4rem;
    margin-left: 80px;
    margin-top: 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
    margin-left: 60px;
  }

  p,
  li {
    font-family: $body-font-stack;
    font-weight: 300;
    line-height: 1.5rem;
    max-width: 620px;
    margin-left: 80px;
  }

  p,
  ul {
    margin-bottom: 1rem !important;
  }

  .code {
    &,
    &-error {
      font-family: $code-font-stack;
      // font-size: 1rem;
      background-color: #f0f0f0;
      padding: 0.2rem;
      border-radius: 0.3rem;
    }
  }

  a {
    font-family: $body-font-stack;
    margin-bottom: -0.5rem;
    &:hover {
      // border-bottom: 0.5rem solid $secondary-color;
      margin-bottom: -0.5rem;
      &::after {
        border: 0.5rem solid $secondary-color;
      }
    }
  }
}

// .blog-post h2 {
//   font-size: 2rem;
//   margin-bottom: 0.5rem;
//   text-transform: lowercase;
//   color: #2e2e2e;
//   margin-left: 60px;
// }

// .blog-post h3 {
//   font-style: italic;
//   font-size: 24px;
//   margin-left: 80px;
// }

// p,
// li {
//   color: #2e2e2e;
//   font-family: "Roboto", sans-serif;
//   font-weight: 300;
//   font-size: 1.2rem;
//   line-height: 1.5em;
//   letter-spacing: 0.03rem;
//   /*max-width: 65ch;*/
// }

// .blog-post-content {
//   width: 620px;
//   margin: 2rem auto 0 80px;
// }

// .blog-post a {
//   font-weight: 400;
// }

// .blog-post a:hover {
//   color: #2e2e2e;
//   text-decoration: underline;
//   text-decoration-color: #808080;
// }
