@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.blog-post p,
.blog-post li {
  margin-left: 80px;
  width: 620px;
}

.blog-post h1,
.blog-post h2,
.blog-post h3 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

.blog-post h1 {
  background-color: white;
  color: #2e2e2e;
  text-decoration: none;
  font-size: 4rem;
  margin-left: 80px;
  margin-top: 0;
}

.blog-post h2 {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: lowercase;
  color: #2e2e2e;
  margin-left: 60px;
}

.blog-post h3 {
  font-style: italic;
  font-size: 24px;
  margin-left: 80px;
}

.blog-post span {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-size: 50%;
}

p,
li {
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0.03rem;
  /*max-width: 65ch;*/
}

.summary {
  background-color: rgba(0, 0, 0, 0.1);
  width: 66%;
}

.summary h2 {
  margin-top: 0;
  font-size: 1em;
}

.summary li {
  font-size: 1rem;
  line-height: 1.5;
}

.summary ul {
  margin: 0 0 20px 0;
}

.blog-post .code {
  font: inherit;
  font-family: "Courier New", Courier, monospace;
}

.blog-post .code.error {
  font-size: 1.2rem;
}

.blog-post-content {
  width: 620px;
  margin: 2rem auto 0 80px;
}

.blog-post a {
  color: #808080;
}

.blog-post a:hover {
  color: #2e2e2e;
}
