@import "_base";

.Body {
  flex: 1 0 auto;

  .date,
  .month {
    text-align: right;
  }

  .date,
  .slash {
    font-weight: 300;
  }

  .slash {
    font-family: $body-font-stack;
    text-align: center;
  }

  .MonthDivider,
  .BlogPostPreview a {
    display: grid;
    grid-template-columns: 60px 20px 1fr;
    grid-template-areas: "left center right";
  }

  .MonthDivider {
    * {
      color: $secondary-color;
    }
    .line {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      div {
        border-top: 1px solid #c0c0c0;
        width: 220px;
      }
    }
  }

  .BlogPostPreview {
    a {
      * {
        font-size: 3rem;
        color: white;
      }
      .title-blurb {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 1 0 auto;
        text-overflow: ellipsis;
      }
      .title {
        color: #2e2e2e !important;
        text-align: left;
        white-space: nowrap;
      }
      .blurb {
        font-size: 1rem;
        width: 100%;
        line-height: 1.5rem;
        height: 3rem;
        overflow: hidden;
        // text-overflow: ellipsis;
      }
      .date,
      .blurb {
        font-family: $body-font-stack;
        align-self: center;
        font-weight: 300;
      }
      &:hover {
        .date,
        .slash,
        .blurb {
          color: #c0c0c0;
        }
      }
    }
  }
}
