@import '_base';

.Comments {
  margin: 64px 36px;
  .separator {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    &-line {
      border-top: 1px solid black;
      width: 118px;
    }
  }
  .title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.5rem;
  }
  .reply {
    cursor: pointer;
    display: inline-block;
    color: #c0c0c0;
  }
  &-List {
    .Comment {
      margin-top: 24px;
      &-Name-Date {
        cursor: pointer;
      }
      &-Message {
        margin-top: 12px;
      }
    }
  }
}
