@import "_base";

.Footer {
  margin: 100px auto 0 auto;
  padding: 50px 0;
  display: flex;
  flex-flow: column;
  width: 100%;

  * {
    color: $secondary-color;
  }

  &:hover {
    * {
      color: $base-color;
    }
    a:hover,
    i:hover {
      color: $primary-color;
    }
  }

  .divider {
    visibility: hidden;
    display: flex;
    flex-flow: row nowrap;
    // justify-content: space-between;
    .line {
      visibility: hidden;
      border-top: 1px solid #f0f0f0;
      width: 100%;
    }
  }

  .Socials,
  .SiteLinks {
    & > a,
    & > i {
      margin: 0 0.25rem;
    }
    i {
      font-size: 1.5rem;
    }
  }

  .Form {
    .form-text {
      display: none;
      font-style: italic;
      padding-bottom: 0.5rem;
    }
  }

  .SignupForm {
    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    label {
      display: none;
    }
    input {
      border-color: $secondary-color;
      color: $primary-color;
      border: 1px solid #ffffff;
      background-color: #f0f0f0;
      padding-left: 0.25rem;
      &:focus {
        background-color: $secondary-color;
      }
      &::placeholder {
        color: $secondary-color;
      }
    }
    button {
      cursor: pointer;
      background-color: #ffffff;
      border: 1px solid #f0f0f0;
      box-sizing: border-box;
      &:active {
        color: #ffffff;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
      }
    }
  }

  .content {
    margin: 0 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
