@import "_base";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $main-font-stack;
}

.container {
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // height: 100vh;
}

@media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) /* and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) */ {
  .container {
    width: 100vw;
    padding: 0.5rem;

    .Header {
      margin-bottom: 1rem;
      ul {
        margin: 0;
      }
      a {
        font-size: 1rem;
      }
    }

    .Body {
      width: calc(100vw - 1rem);
      max-width: calc(100vw - 1rem);
      display: grid;
      grid-template-columns: 1fr;
      // overflow: hidden;

      .MonthDivider,
      .BlogPostPreview a {
        display: grid;
        grid-template-columns: 1fr 1rem 9fr;
      }

      .MonthDivider,
      .BlogPostPreview,
      .BlogPostPreview a {
        max-width: inherit;
      }

      .MonthDivider {
        margin-bottom: 0.25rem;
        .month {
          grid-area: 1 / 1 / span 1 / span 1;
          text-transform: uppercase;
          font-family: $body-font-stack;
          text-align: right;
        }
        .slash {
          visibility: hidden;
        }
        .line div {
          border-top: 0.5px solid $secondary-color;
        }
      }

      .BlogPostPreview {
        margin-bottom: 0.75rem;
        a {
          * {
            font-size: 2rem;
            line-height: 2rem;
          }
          .blurb,
          .slash {
            display: none;
          }
          .date {
            grid-area: 1 / 1 / span 1 / span 1;
            color: $secondary-color;
            align-self: start;
          }
          .title-blurb {
            grid-area: 1 / 3 / span 1 / span 1;
            align-self: start;
            .title {
              white-space: unset;
            }
          }
        }
      }
    }

    .Footer {
      padding: 0;
      margin-top: 50px;
      overflow-y: hidden;

      .content {
        width: 100%;
        margin: 0;
        display: flex;
        flex-flow: column wrap;

        & > div {
          text-align: center;
        }

        span.slash,
        .SiteLinks {
          display: none;
        }

        .Socials {
          margin-bottom: 1rem;
        }

        .Form {
          .SignupForm form {
            display: flex;
            flex-flow: column;
            align-items: center;

            input,
            button {
              font-size: 1rem;
              text-align: center;
              margin-bottom: 0.5rem;
            }
            input {
              width: calc(100% - 120px);
            }
            button {
              width: calc((100% - 120px) / 2);
            }
          }
        }
      }
    }
  }
}
