@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  color: black;
}

body {
  max-width: 900px;
  margin: 40px auto;
  /*padding: 0 10px;*/
}

.blog-posts-body {
  margin-top: 100px;
  margin-left: -100px;
}

a {
  text-decoration: none;
}
/*
a:hover {
  text-decoration: line-through;
  text-decoration-style: double;
  text-decoration-color: rgba(255, 105, 180, 0.25);
}
*/
.blog-post-preview a,
.blog-post-preview p,
.blog-post-preview .date {
  font-family: "Crimson Text", serif;
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

.blog-post-preview a:hover {
  color: grey;
}
.blog-post-preview .title {
  color: black;
}

/*
.blog-post-preview {
  padding-bottom: 20px;
}

.blog-post-preview a {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Crimson Text", serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 45px;
  padding: 0 10px;
}
a {
  font-family: "Crimson Text", serif;
}

a:hover {
  color: rgba(0, 0, 0, 1);
}

.blog-post-preview span {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-size: 50%;
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
}

.tag {
  color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
  padding: 0 5px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.tag:hover,
.tag:focus {
  color: rgba(0, 0, 0, 0.6);
}

.tag.active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.nav a {
  text-decoration: none;
  color: #777;
  margin-bottom: 100px;
}

.nav a:hover {
  color: #000;
}
*/
