@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  color: black;
}

body {
  max-width: 940px;
  margin: 40px auto;
  padding: 0 10px;
}

.blog-posts-body {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.blog-post-preview a,
.blog-post-preview p,
.blog-post-preview .date {
  font-family: "Crimson Text", serif;
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

.blog-post-preview a:hover {
  color: #808080;
}
.blog-post-preview .title {
  color: #2e2e2e;
}

.blog-post-month-divider,
.blog-post-preview a {
  display: grid;
  grid-template-columns: 60px 20px 860px;
  grid-template-areas: left center right;
}
/*
.blog-post-preview a div:nth-child(1),
.blog-post-month-divider div:nth-child(1) {
  grid-area: left;
}

.blog-post-preview a div:nth-child(2),
.blog-post-month-divider div:nth-child(2) {
  grid-area: center;
}

.blog-post-preview a div:nth-child(3),
.blog-post-month-divider div:nth-child(3) {
  grid-area: right;
}
*/
