@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  color: black;
}

body {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Crimson Text", serif;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.blog-posts-body {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

.blog-post-preview a *,
.blog-post-preview p,
.blog-post-preview .date {
  font-family: "Crimson Text", serif;
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

.blog-post-preview .date,
.blog-post-month-divider div:nth-child(1) {
  text-align: right;
}

.blog-post-preview a div:nth-child(2),
.blog-post-month-divider div:nth-child(2) {
  text-align: center;
}

.blog-post-month-divider .line {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.blog-post-month-divider * {
  color: #c0c0c0;
}

.blog-post-month-divider .line div {
  border-top: 1px solid #c0c0c0;
  width: 220px;
}

.blog-post-preview a:hover div:nth-child(1),
.blog-post-preview a:hover div:nth-child(2),
.blog-post-preview a:hover .blurb {
  color: #c0c0c0;
}

.blog-post-preview a .title {
  color: #2e2e2e !important;
  text-align: left;
  white-space: nowrap;
}

.blog-post-month-divider,
.blog-post-preview a {
  display: grid;
  grid-template-columns: 60px 20px 860px;
  grid-template-areas: "left center right";
}

.blog-post-preview .title-blurb {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  flex: 1 0 auto;
  text-overflow: ellipsis;
}

.blog-post-preview .blurb {
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
  line-height: 1.5rem;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
